#tout{
    margin-left: auto; 
    margin-right: auto; 
    padding-left: 5%; 
    padding-right: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#navbar{
    display: flex;
    list-style: none;
    margin: auto;
}

a{padding-right: 25px;}
#navbarNav{ margin-left: 52%;}

#photo{
    width: 100%;
}
.nav-link{color: black;}
.navbar-brand{color: #e7c554;}
h2{
    text-align: center;
}

h4{
color: #e7c554;
padding-top: 2%;
padding-bottom: 2%;
}
.image{
    border-radius: 5%;
    transition: transform 0.2s ease;
}
.image:hover {
    transform: scale(1.1);
}
.album{
    width: 30%;
    height: auto;
    padding: 3%;
    background-color: white;
    text-align: center;
    border-radius: 3%;
    margin: 2%;
}
#projet{
    display: flex;
}

#gprojet{
    background-color: #e7c554;
    text-align: center;
    padding: 3%;
}
.row{
    width: 600px;
    margin-bottom: 20px;
}
.col{
    width: 250px;
}
button{width: 550px;
height: 30px;
background-color: #e7c554;
border: none;}
#prot{
    font-size: 19px;
    margin-right: 50px;
}
#propos{
    display: flex;
}
textarea{
    border-color: rgb(236, 232, 232);
}
#con{
    display: flex;
}
@media all and (max-width: 1240px){
    .album{
        width: 20%;
        height: auto;
        padding: 3%;
        margin: 2%;
    }
    .image{
       text-align: center;
       width: 90%;
       height: 90%;
    }
    #navbarNav{ margin-left: 40%;}
}
@media all and (max-width: 870px){
#con {
display: block;
}
#pff{margin-top: 5%;}
}

@media all and (max-width: 630px){
    .row{
        width: 450px;
        margin-bottom: 20px;
    }
    .col{
        width: 150px;
    }
    button{
        width: 350px;
        height: 30px;
        background-color: #e7c554;
        border: none;
    }
    textarea{
       width: 85%;
        
    }
    #projet{
        display: block;
        justify-content: center;
        justify-items: center;
        text-align: center;
        
    }
    .album{
        width: 50%;
        height: auto;
        margin-left: 25%;
    }
    .image{
       justify-content: center;
        justify-items: center;
        text-align: center;
    }
   
}
@media all and (max-width: 570px){
   #propos {
        display: block;
    }
}
@media all and (max-width: 470px){
    .col{
        margin-right: 75%;
        margin-bottom: 3%;
    }
    button{
        width: 150px;
    }
    textarea{
        width: 70%;
    }
}
